body{
	padding-top: 0px;
	padding-bottom: 100px;
	background-color: #eee;
}

.jumbotron {
	height: 300px;
	background-image: url('../img/cc.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -160px;
	color: blue;
}


