table
{
	width: 600px;
	border:1px solid #ccc;
}
table dt
{
	padding: 10px;
}
#content{
	display: grid;
	margin: 0; padding: 0;
}
.container {
    display:grid;
    grid-template-columns: 150px 20px 150px 20px 150px;
    grid-template-rows: auto 20px auto 20px auto;
    padding: 4em 1em;
    height: 30px;
}
